*{
    font-family: 'Poppins', sans-serif;
}
htlm,body{
    height: 100%;
}
.open{
background:#ffafbd;
height: 100%;
width: 100%;
position: fixed;
top: 0;
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
justify-content: center;
z-index: 1;
overflow-y: hidden;
transition: 0.5s all ease;
}
.mail{
    margin-top: -75px;
    width: 300px;
}
.confetti{
    position: fixed;
    width: 100%;
    height: 100%;
}

h4{
    padding: 0;
    margin: 0;
}  
#content-section{
    overflow-x:hidden ;
}